.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10svh;
  background-color: #7851A9;
}

.header a {
  padding: 1rem;
}

.header a:hover {
  color: #4169E1;
}